<section class="NavLateral full-width" style="position: fixed">
    <div class="NavLateral-FontMenu full-width ShowHideMenu"></div>
    <div class="NavLateral-content full-width">
        <header class="NavLateral-title full-width center-align">
            <i class="zmdi zmdi-bus"></i>
            Univalle Express
            <i class="zmdi zmdi-close NavLateral-title-btn ShowHideMenu"></i>
        </header>
        <figure class="full-width NavLateral-logo">
            <img src="../../../assets/assets/img/univalle.jpg" alt="material-logo" class="responsive-img center-box">
        </figure>
        <div class="NavLateral-Nav">
            <ul class="full-width">
                <li>
                    <a [routerLink]="['/home']" class="waves-effect waves-light">
                        <i class="zmdi zmdi-home zmdi-hc-fw"></i>
                        Página principal
                    </a>
                </li>
                <li class="NavLateralDivider"></li>
                <li>
                    <a class="NavLateral-DropDown  waves-effect waves-light">
                        <i class="zmdi zmdi-money-box zmdi-hc-fw"></i>
                        <i class="zmdi zmdi-chevron-down NavLateral-CaretDown"></i> Facturación </a>
                    <ul class="full-width">
                        <li *ngIf="CrearFactura == '1'">
                            <a class="waves-effect waves-light"> Realizar Venta </a>
                        </li>
                        <li *ngIf="ConsultarFactura == '1'" class="NavLateralDivider"></li>
                        <li *ngIf="ConsultarFactura == '1'">
                            <a class="waves-effect waves-light"> Consultar facturas </a>
                        </li>
                    </ul>
                </li>
                <li class="NavLateralDivider"></li>
                <li>
                    <a class="NavLateral-DropDown  waves-effect waves-light">
                        <i class="zmdi zmdi-accounts zmdi-hc-fw"></i>
                        <i class="zmdi zmdi-chevron-down NavLateral-CaretDown"></i> Empleados </a>
                    <ul class="full-width">
                        <li *ngIf="empleados == '1'">
                            <a class="waves-effect waves-light"> No puedes realizar esta acción </a>
                        </li>
                        <li *ngIf="ConsultarEmpleado == '1'">
                            <a class="waves-effect waves-light"> Consultar Empleado </a>
                        </li>
                        <li *ngIf="CrearEmpleado == '1'" class="NavLateralDivider"></li>
                        <li *ngIf="CrearEmpleado == '1'">
                            <a class="waves-effect waves-light"> Crear Empleado </a>
                        </li>
                        <li *ngIf="EditarEmpleado == '1'" class="NavLateralDivider"></li>
                        <li *ngIf="EditarEmpleado == '1'">
                            <a class="waves-effect waves-light"> Editar Empleado </a>
                        </li>
                        <li *ngIf="BorrarEmpleado == '1'" class="NavLateralDivider"></li>
                        <li *ngIf="BorrarEmpleado == '1'">
                            <a class="waves-effect waves-light"> Borrar Empleado </a>
                        </li>
                    </ul>
                </li>
                <li class="NavLateralDivider"></li>
                <li>
                    <a class="NavLateral-DropDown  waves-effect waves-light">
                        <i class="zmdi zmdi-pin-drop zmdi-hc-fw"></i>
                        <i class="zmdi zmdi-chevron-down NavLateral-CaretDown"></i> Rutas </a>
                    <ul class="full-width">
                        <li *ngIf="rutas == '1'">
                            <a class="waves-effect waves-light"> No puedes realizar esta acción </a>
                        </li>
                        <li *ngIf="ConsultarRutas == '1'">
                            <a class="waves-effect waves-light"> Consultar Rutas </a>
                        </li>
                        <li *ngIf="CrearRutas == '1'" class="NavLateralDivider"></li>
                        <li *ngIf="CrearRutas == '1'">
                            <a class="waves-effect waves-light"> Crear Rutas </a>
                        </li>
                        <li *ngIf="EditarRutas == '1'" class="NavLateralDivider"></li>
                        <li *ngIf="EditarRutas == '1'">
                            <a class="waves-effect waves-light"> Editar Ruta</a>
                        </li>
                    </ul>
                </li>
                <li class="NavLateralDivider"></li>
                <li>
                    <a class="NavLateral-DropDown  waves-effect waves-light">
                        <i class="zmdi zmdi-account zmdi-hc-fw"></i>
                        <i class="zmdi zmdi-chevron-down NavLateral-CaretDown"></i> Clientes </a>
                    <ul class="full-width">
                        <li *ngIf="clientes == '1'">
                            <a class="waves-effect waves-light"> No puedes realizar esta acción </a>
                        </li>
                        <li *ngIf="ConsultarCliente == '1'">
                            <a class="waves-effect waves-light"> Consultar Clientes </a>
                        </li>
                        <li *ngIf="CrearCliente == '1'" class="NavLateralDivider"></li>
                        <li *ngIf="CrearCliente == '1'">
                            <a class="waves-effect waves-light"> Crear Clientes </a>
                        </li>
                        <li *ngIf="EditarCliente == '1'" class="NavLateralDivider"></li>
                        <li *ngIf="EditarCliente == '1'">
                            <a class="waves-effect waves-light"> Editar Clientes </a>
                        </li>
                    </ul>
                </li>
                <li class="NavLateralDivider"></li>
                <li>
                    <a class="NavLateral-DropDown  waves-effect waves-light">
                        <i class="zmdi zmdi-bus zmdi-hc-fw"></i>
                        <i class="zmdi zmdi-chevron-down NavLateral-CaretDown"></i> Buses </a>
                    <ul class="full-width">
                        <li *ngIf="buses == '1'">
                            <a class="waves-effect waves-light"> No puedes realizar esta acción </a>
                        </li>
                        <li *ngIf="ConsultarBuses == '1'">
                            <a class="waves-effect waves-light"> Consultar Buses </a>
                        </li>
                        <li *ngIf="CrearBuses == '1'" class="NavLateralDivider"></li>
                        <li *ngIf="CrearBuses == '1'">
                            <a class="waves-effect waves-light"> Crear Buses </a>
                        </li>
                        <li *ngIf="EditarBuses == '1'" class="NavLateralDivider"></li>
                        <li *ngIf="EditarBuses == '1'">
                            <a class="waves-effect waves-light"> Editar Buses </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>