<section class="NavLateral full-width" style="position: fixed">
    <div class="NavLateral-FontMenu full-width ShowHideMenu"></div>
    <div class="NavLateral-content full-width">
        <header class="NavLateral-title full-width center-align">
            <i class="zmdi zmdi-bus"></i>
            Univalle Express
            <i class="zmdi zmdi-close NavLateral-title-btn ShowHideMenu"></i>
        </header>
        <figure class="full-width NavLateral-logo">
            <img src="../../../assets/assets/img/univalle.jpg" alt="material-logo" class="responsive-img center-box">
        </figure>
        <div class="NavLateral-Nav">
            <ul class="full-width">
                <li>
                    <a [routerLink]="['/home']" class="waves-effect waves-light">
                        <i class="zmdi zmdi-home zmdi-hc-fw"></i>
                        Página principal
                    </a>
                </li>
                <li class="NavLateralDivider"></li>
                <li>
                    <a  class="NavLateral-DropDown  waves-effect waves-light">
                        <i class="zmdi zmdi-language-css3 zmdi-hc-fw"></i>
                        <i class="zmdi zmdi-chevron-down NavLateral-CaretDown"></i> CSS</a>
                    <ul class="full-width">
                        <li>
                            <a href="typography-shadow.html" class="waves-effect waves-light">Typography & Shadow</a>
                        </li>
                        <li class="NavLateralDivider"></li>
                        <li>
                            <a href="table.html" class="waves-effect waves-light">Table</a>
                        </li>
                    </ul>
                </li>
                <li class="NavLateralDivider"></li>
                <li>
                    <a href="#" class="NavLateral-DropDown  waves-effect waves-light">
                        <i class="zmdi zmdi-widgets zmdi-hc-fw"></i>
                        <i class="zmdi zmdi-chevron-down NavLateral-CaretDown"></i> Components</a>
                    <ul class="full-width">
                        <li>
                            <a href="button.html" class="waves-effect waves-light">Button</a>
                        </li>
                        <li class="NavLateralDivider"></li>
                        <li>
                            <a href="form.html" class="waves-effect waves-light">Forms</a>
                        </li>
                    </ul>
                </li>
                <li class="NavLateralDivider"></li>
                <li>
                    <a href="#" class="NavLateral-DropDown  waves-effect waves-light">
                        <i class="zmdi zmdi-view-web zmdi-hc-fw"></i>
                        <i class="zmdi zmdi-chevron-down NavLateral-CaretDown"></i> Sample Pages</a>
                    <ul class="full-width">
                        <li>
                            <a href="template.html" class="waves-effect waves-light">Blank Page</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>