<div id="containerL" style="display:none" class="container">
    <input type="text" id="write" [(ngModel)]="teclado">
    <a id="writeT" (click)="emitirEventoa()" class="enviarTeclado">
        <i class="zmdi zmdi-mail-send zmdi-hc-4x"></i>
    </a>
    <ul id="keyboard">
        <li class="symbol">
            <span class="off">`</span>
            <span class="on">~</span>
        </li>
        <li class="symbol">
            <span class="off">1</span>
            <span class="on">!</span>
        </li>
        <li class="symbol">
            <span class="off">2</span>
            <span class="on">@</span>
        </li>
        <li class="symbol">
            <span class="off">3</span>
            <span class="on">#</span>
        </li>
        <li class="symbol">
            <span class="off">4</span>
            <span class="on">$</span>
        </li>
        <li class="symbol">
            <span class="off">5</span>
            <span class="on">%</span>
        </li>
        <li class="symbol">
            <span class="off">6</span>
            <span class="on">^</span>
        </li>
        <li class="symbol">
            <span class="off">7</span>
            <span class="on">&amp;</span>
        </li>
        <li class="symbol">
            <span class="off">8</span>
            <span class="on">*</span>
        </li>
        <li class="symbol">
            <span class="off">9</span>
            <span class="on">(</span>
        </li>
        <li class="symbol">
            <span class="off">0</span>
            <span class="on">)</span>
        </li>
        <li class="symbol">
            <span class="off">-</span>
            <span class="on">_</span>
        </li>
        <li class="symbol">
            <span class="off">=</span>
            <span class="on">+</span>
        </li>
        <li class="delete lastitem">Borrar</li>
        <li class="tab">tab</li>
        <li class="letter">q</li>
        <li class="letter">w</li>
        <li class="letter">e</li>
        <li class="letter">r</li>
        <li class="letter">t</li>
        <li class="letter">y</li>
        <li class="letter">u</li>
        <li class="letter">i</li>
        <li class="letter">o</li>
        <li class="letter">p</li>
        <li class="symbol">
            <span class="off"> {{corcheteA}} </span>
            <span class="on"> {{llaveA}} </span>
        </li>
        <li class="symbol">
            <span class="off"> {{corcheteC}} </span>
            <span class="on"> {{llaveC}} </span>
        </li>
        <li class="symbol lastitem">
            <span class="off">\</span>
            <span class="on">|</span>
        </li>
        <li class="capslock">caps lock</li>
        <li class="letter">a</li>
        <li class="letter">s</li>
        <li class="letter">d</li>
        <li class="letter">f</li>
        <li class="letter">g</li>
        <li class="letter">h</li>
        <li class="letter">j</li>
        <li class="letter">k</li>
        <li class="letter">l</li>
        <li class="symbol">
            <span class="off">;</span>
            <span class="on">:</span>
        </li>
        <li class="symbol">
            <span class="off">'</span>
            <span class="on">&quot;</span>
        </li>
        <li class="return lastitem">return</li>
        <li class="left-shift">shift</li>
        <li class="letter">z</li>
        <li class="letter">x</li>
        <li class="letter">c</li>
        <li class="letter">v</li>
        <li class="letter">b</li>
        <li class="letter">n</li>
        <li class="letter">m</li>
        <li class="symbol">
            <span class="off">,</span>
            <span class="on">&lt;</span>
        </li>
        <li class="symbol">
            <span class="off">.</span>
            <span class="on">&gt;</span>
        </li>
        <li class="symbol">
            <span class="off">/</span>
            <span class="on">?</span>
        </li>
        <li class="right-shift lastitem">shift</li>
        <li class="space lastitem">&nbsp;</li>
    </ul>
</div>
<app-nav-lateral></app-nav-lateral>
<section class="ContentPage full-width">
    <app-nav-superior></app-nav-superior>
    <div class="row">
        <article class="col s12">
            <h4 style="text-align: center">
                <strong>¿Donde desea ir?</strong>
            </h4>
            <hr>
            <ul class="timeline">
                <li class="col s6" *ngFor="let ruta of rutas3">
                    <div class="timeline-panel">
                        <h5 style="text-align: center; color: rgb(211, 36, 43)">
                            <strong>{{ruta.Destino}}</strong>
                        </h5>
                        <hr>
                        <br>
                        <div>
                            <div>
                                <h6>
                                    <i class="zmdi zmdi-circle"></i>
                                    <strong> El precio del pasaje es de ${{ruta.Precio}} </strong>
                                </h6>
                            </div>
                            <div>
                                <h6>
                                    <i class="zmdi zmdi-circle"></i>
                                    <strong> El modo de viaje es {{ruta.Nombre}} </strong>
                                </h6>
                            </div>
                        </div>
                        <br>
                    </div>
                    <a class=" waves-effect waves-light btn-large " style=" position: relative; 
                                bottom: 99px; 
                                left: 56%; 
                                background: rgb(107, 186, 218) ">
                        Realizar venta!
                    </a>
                </li>
            </ul>
        </article>
    </div>
</section>