<app-nav-lateral></app-nav-lateral>
<section class="ContentPage full-width">
  <app-nav-superior></app-nav-superior>
  <div class="container">
    <div class="row">
      <h2 class="center-align">Ingresar datos del cliente</h2>
      <form #formCliente="ngForm" (ngSubmit)="onSubmit()" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="first_name" type="text" #Identidad="ngModel" name="Identidad" class="validate" [(ngModel)]="cliente.Documento"
              autocomplete="off" required pattern="[0-9]+">
            <label for="first_name">
              Documento De Identidad &nbsp;
              <span *ngIf="!Identidad.valid && Identidad.touched" style="color: rgb(211, 36, 43)"> EL DOCUMENTO DE IDENTIDAD NO ES CORRECTO </span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" #primernombre="ngModel" name="primernombre" class="validate" [(ngModel)]="cliente.Nombre"
              autocomplete="off" required>
            <label for="first_name">
              Nombre &nbsp;
              <span *ngIf="!primernombre.valid && primernombre.touched" style="color: rgb(211, 36, 43)"> EL CAMPO ES OBLIGATORIO </span>
            </label>
          </div>
          <div class="input-field col s6">
            <input id="first_name" type="text" #primerapellido="ngModel" name="primerapellido" class="validate" [(ngModel)]="cliente.Apellido"
              autocomplete="off" required>
            <label for="first_name">
              Apellido
              <span *ngIf="!primerapellido.valid && primerapellido.touched" style="color: rgb(211, 36, 43)"> EL CAMPO ES OBLIGATORIO </span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" #correo="ngModel" name="correo" class="validate" [(ngModel)]="cliente.Email" autocomplete="off"
                required>
              <label for="email">
                Correo Electronico
                <span *ngIf="!correo.valid && correo.touched" style="color: rgb(211, 36, 43)"> EL CAMPO NO ES CORRECTO </span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" input-field col s4"></div>
          <div class="col s4">
            <button style="width: 100%;" type="submit" [disabled]="!formCliente.form.valid" class="waves-effect waves-teal btn-large">
              Crear Cliente
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>